# Dependências
node_modules/

# Variáveis de ambiente e segredos (protege sua senha do banco de dados)
nodemon.json
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

